@model ReserveViewModel
@{
    ViewBag.Title = "Reserve";
    //ViewData["Title"] = "Reserve";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reserve" asp-action="Reserve" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-3 ">
        <div class="row">
            <div class="form-group">
                <label for="date">Pick a Week:</label>
                <input class="form-control" type="text" name="date" id="date" onfocus="this.blur();">
            </div>
        </div>
        <div class="row">
            <div>
                <div class="calendar" id="datepicker"></div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2 form-inline">
                <div class="form-group">
                    <label for="RoomType">Room Type:</label>
                    <select class="form-control" id="RoomType" asp-items="Model.RoomTypes">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 form-inline">
                <div class="form-group">
                    <label asp-for="RoomNumber">Room Number:</label>
                    <select class="form-control" asp-for="RoomNumber"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <h5>Select Days to Reserve:</h5>
                    @foreach (var day in Model.DaysOfWeek)
                    {
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="Dates" id="@day.Text">@day.Text
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-inline">
                <div class="form-group">
                    <label asp-for="BeginTime">Begin Time:</label>
                    <select asp-for="BeginTime" class="form-control" id="RoomType" asp-items="Model.BeginTimeList">
                        <option value="">Select Time</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 form-inline">
                <div class="form-group">
                    <label asp-for="EndTime">End Time:</label>
                    <select asp-for="EndTime" class="form-control" id="RoomType" asp-items="Model.EndTimeList">
                        <option value="">Select Time</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EventName">Event Name:</label>
                    <input asp-for="EventName" class="form-control" type="text" />
                </div>                        
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Reserve</button>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <script src="~/js/date-module.js"></script>
}
