@model SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2 class="display-6">@ViewData["Title"]</h2>

<form asp-controller="Search" asp-action="Search" method="post" role="form">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="row">
                <h3 class="fs-4 fw-normal">Search for Scheduled Event</h3>
            </div>
            <div class="row mb-3">
                <div class="col-auto">
                    <label asp-for="EventName" class="form-label">by Event Name:</label>
                    <span asp-validation-for="EventName"></span>
                    <input asp-for="EventName" class="form-control" type="search" />
                </div>
            </div>
            <div class="row">
                <p>and &#47; or</p>
            </div>
            <div class="row mb-3">
                <div class="col-auto">
                    <label asp-for="EventDate" class="form-label">by Date (MM/DD/YYYY):</label>
                    <span asp-validation-for="EventDate"></span>
                    <input class="form-control" asp-for="EventDate" type="date" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>    

        @if (Model.SearchResults != null)
        {
            @await Html.PartialAsync("_EventTable", Model.SearchResults)
        }
    </div>
</form>

@section Scripts {

}