@{
    ViewData["Title"] = "Contact";
}

<h2 class="display-6">@ViewData["Title"].</h2>
<hr />
<div class="col bg-dark p-4" id="contact">
    <h3 class="fs-4 fw-normal">R. Benjamin Small</h3>

    <address>
        4352 Maryland Ave<br />
        St. Louis, MO 63401<br />
        <abbr title="Phone">P:</abbr>
        (330).607.6733
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:llamsneb@gmail.com">llamsneb@gmail.com</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
</div>
