@using RMAS.Models.CalendarViewModels
@model CalendarViewModel

@{
    ViewBag.Title = "Calendar";
}

<div class="p-4 bg-dark text-white bg-opacity-75">
    <h2 class="display-6">@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-auto">
            <div class="row mb-3">
                <div class="col-auto">
                    <label asp-for="RoomTypes" class="form-label">Room Type:</label>
                    <select class="form-select" id="RoomType" asp-items="Model.RoomTypes">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-auto">
                    <label asp-for="RoomNumber" class="form-label">Room Number:</label>
                    <select class="form-select" id="RoomNumber" asp-for="RoomNumber"></select>
                </div>
            </div>
        </div>
        <div class="col text-bg-light bg-opacity-100 p-4 mx-3">
            <div id='calendar'></div>
        </div>
    </div>
</div>
@section Scripts {  
    @*<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>*@
    <script src="~/lib/fullcalendar/index.global.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/calendar-module.js"></script>
}




